*/ {
    border: 1px solid #000 !important;
}

html, body {
    background-color: #E7E8E8;
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    background-color: #7B7A74;
    display:flex;
    align-items:center;
    justify-content:center;
}

.header img {
    width: auto;
    height: 100%;
}

table {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    white-space: nowrap;
    table-layout: fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #FFF;
    color: #7B7A74;
}

.footer {
    height: 300px;
    background-color: #7B7A74;
    position: relative;
}

#number {
    width: 25px;
    text-align: right;
}

#numbers {
    text-align: right;
}

#name {
    width: 350px;
}

#value {
    width: 100px;
}

#req {
    width: 150px;
}

#reqs {
    letter-spacing: 2px;
    color: #C1C1BD;
}

#type {
    width: 50px;
    text-align: center;
}

#typeWallet {
    color: #C1C1BD;
    text-align: center;
}

#love {
    width: 80px;
    text-align: center;
    color: #E9BBCA;
}

#loved {
    letter-spacing: 2px;
    color: #E9BBCA;
}

#countDown {
    width: 120px;
    text-align: center;
}

#countDown01, #countDown02, #countDown03, #countDown04, #countDown05, #countDown06,
#countDown07, #countDown08, #countDown09, #countDown10, #countDown11, #countDown12,
#countDown13, #countDown14, #countDown15, #countDown16 {
    text-align: center;
    color: #696863;
    border: none;
}

#nameLink {
    color: #7B7A74;
}

#name, #number, #value, #love, #req, #type {
    border-right: 1px solid #8D8B84;
}

th {
    background-color: #7B7A74;
    color: #FFF;
    cursor: pointer;
}

td, th {
    text-align: left;
    padding: 12px;
}

td {
    border-bottom: 1px solid #DDD;
}

/** tr:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}**/

tr:hover {
    background-color: #E7E8E8;
}

tfoot th {
    background-color: #FFF;
    cursor: auto;
    height: 12px;
}

#socialMedia {
    margin: auto;
    width: 50%;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    position: absolute;
}









.divTable{
	display: table;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 95%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90%;
    position: absolute;
    background-color: #FFF;
    color: #7B7A74;
}
.divTableRow, .divTableHeadRow, .divTableFootRow {
	display: table-row;
}

.divTableRow:hover {
    background-color: #E7E8E8;
}

.divTableCell, .divTableHead {
	display: table-cell;
    padding: 13px;
}

.divTableCell {
    border-bottom: 1px solid #DDD;
}


.divTableHeading {
	display: table-header-group;
    background-color: #7B7A74;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.divTableFoot {
	background-color: #FFF;
	display: table-footer-group;
}
.divTableBody {
	display: table-row-group;
}
