* {
  border: 1px solid #000 !important;
}

.grid-container {
  display: grid; /* This is a (hacky) way to make the .grid element size to fit its content */
  overflow: auto;
  margin: auto;
  width: 100%;
}
.grid {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  background-color: white;
  width: 100%;
}
.grid-col {
    width: 100%;
}

.grid-item--header {
  position: sticky;
  position: -webkit-sticky;
  background: #7B7A74;
  color: #FFF;
  padding: 18px;
  top: 0;
}

#numbers {
    width: 50px;
    min-width: 50px;
}

#names {
    width: 100px;
    min-width: 100px;
}

#names, #prices, #tsupply, #reqs {
    text-align: left;
}

#numbers, #KYC, #types, #rating, #countDowns {
    text-align: center;
}

#prices {
    width: 100px;
    min-width: 100px;
}

#tsupply {
    width: 200px;
    min-width: 200px;
}

#reqs {
    width: 150px;
    min-width: 150px;
}

#types {
    width: 100px;
    min-width: 100px;
}

#rating {
    width: 120px;
    min-width: 120px;
}

#countDowns {
    width: 250px;
    min-width: 250px;
}

#countDown01, #countDown02, #countDown03, #countDown04, #countDown05, #countDown06 {

}

.grid-col--fixed-left {
  position: sticky;
  left: 0;
  z-index: 9998;
  background: white;
}

.grid-col--fixed-left2 {
  position: sticky;
  left: 50px;
  z-index: 9998;
  background: white;
}

.grid-item {
  padding: 20px;
  border-bottom: 1px solid #DDD;
}

.grid-item:last-child {
    border: none;
}












html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.0;
	word-wrap: break-word;
	overflow-x: hidden;
	background-color: #E7E8E8;
}

u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	font-family: 'Lucida Console', 'Courier New', 'monospace';
	font-weight: normal;
	text-indent: 0;
	letter-spacing: 0;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

a {
	-moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	color: inherit;
	text-decoration: underline;
}

s {
	text-decoration: line-through;
}

html {
	font-size: 18pt;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	z-index: 2;
	overflow: hidden;
	padding: 0 2.25rem 0 2.25rem;
}

#main {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: relative;
	max-width: 100%;
	z-index: 1;
	-moz-align-items: flex-start;
	-webkit-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	background-color: transparent;
	-moz-transition: opacity 1s ease-in-out 0s;
	-webkit-transition: opacity 1s ease-in-out 0s;
	-ms-transition: opacity 1s ease-in-out 0s;
	transition: opacity 1s ease-in-out 0s;
}

#main > .inner {
	position: relative;
	z-index: 1;
	border-radius: inherit;
	padding: 3rem 3rem;
	max-width: 100%;
	width: 100rem;
}

#main > .inner > header {
	margin-bottom: 0.75rem;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > footer {
	margin-top: 0.75rem;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main > .inner > * > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#main > .inner > * > :first-child {
	margin-top: 0 !important;
}

#main > .inner > * > :last-child {
	margin-bottom: 0 !important;
}

#main > .inner > .full {
	margin-left: calc(-3rem);
	width: calc(100% + 6rem + 0.4725px);
	max-width: calc(100% + 6rem + 0.4725px);
}

#main > .inner > .full:first-child {
	margin-top: -3rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > .full:last-child {
	margin-bottom: -3rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main > .inner > .full.screen {
	width: 100vw;
	max-width: 100vw;
	position: relative;
	border-radius: 0 !important;
	left: 50%;
	right: auto;
	margin-left: -50vw;
}

#main > .inner > * > .full {
	margin-left: calc(-3rem);
	width: calc(100% + 6rem + 0.4725px);
	max-width: calc(100% + 6rem + 0.4725px);
}

#main > .inner > * > .full.screen {
	width: 100vw;
	max-width: 100vw;
	position: relative;
	border-radius: 0 !important;
	left: 50%;
	right: auto;
	margin-left: -50vw;
}

#main > .inner > header > .full:first-child {
	margin-top: -3rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > footer > .full:last-child {
	margin-bottom: -3rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

body.is-loading #main {
	opacity: 0;
}

#main > .inner > section {
	-moz-transition: opacity 0.5s ease-in-out 0.25s,min-height 0.25s ease-in-out,max-height 0.25s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out 0.25s,min-height 0.25s ease-in-out,max-height 0.25s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out 0.25s,min-height 0.25s ease-in-out,max-height 0.25s ease-in-out;
	transition: opacity 0.5s ease-in-out 0.25s,min-height 0.25s ease-in-out,max-height 0.25s ease-in-out;
}

#main > .inner > section.inactive {
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	opacity: 0;
}

.container > .inner {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}

#main .container.full:first-child > .inner {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main .container.full:last-child > .inner {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container01 > .inner {
	padding: 0rem 0rem;
	width: 100%;
	max-width: 100%;
	display: inline-block;
}

#container01 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #7B7A74;
}

#container01 > .inner > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#container01 > .inner > *:first-child {
	margin-top: 0 !important;
}

#container01 > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container01 > .inner > .full {
	margin-left: calc(-0rem);
	width: calc(100% + 0rem + 0.4725px);
	max-width: calc(100% + 0rem + 0.4725px);
}

#container01 > .inner > .full:first-child {
	margin-top: -0rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#container01 > .inner > .full:last-child {
	margin-bottom: -0rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container03 > .inner {
	padding: 2rem 2rem;
	width: 100%;
	max-width: 100%;
	display: inline-block;
}

#container03 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: transparent;
}

#container03 > .inner > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#container03 > .inner > *:first-child {
	margin-top: 0 !important;
}

#container03 > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container02 > .inner {
	padding: 2rem 0rem;
	width: 100%;
	max-width: 100%;
	display: inline-block;
}

#container02 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	min-height: 20rem;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #7B7A74;
}

#container02 > .inner > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#container02 > .inner > *:first-child {
	margin-top: 0 !important;
}

#container02 > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container02 > .inner > .full {
	margin-left: calc(-0rem);
	width: calc(100% + 0rem + 0.4725px);
	max-width: calc(100% + 0rem + 0.4725px);
}

#container02 > .inner > .full:first-child {
	margin-top: -2rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#container02 > .inner > .full:last-child {
	margin-bottom: -2rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#header {
	margin-bottom: 0rem !important;
}

#footer {
	margin-top: 0rem !important;
}

.image {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	display: block;
	text-align: center;
}

.image a, .image span {
	position: relative;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

.image a img, .image span img {
	display: block;
}

.image img {
	width: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

.image.full img {
	display: block;
}

.image.full:first-child img {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.image.full:last-child img {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.image.full a, .image.full span {
	display: block;
}

#image01 img {
	width: 6rem;
}

h1 br + br, h2 br + br, h3 br + br, p br + br {
	display: block;
	content: ' ';
}

h1 .li, h2 .li, h3 .li, p .li {
	display: list-item;
	padding-left: 0.5em;
	margin: 0.75em 0 0 1em;
}

#text01 br + br {
	margin-top: 0.9rem;
}

#text01 {
	color: #000000;
	font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 1em;
	line-height: 1.5;
	font-weight: 400;
}

.buttons {
	cursor: default;
	padding: 0;
	letter-spacing: 0;
}

.buttons li a {
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	max-width: 100%;
}

#buttons01 {
	width: calc(100% + 0.75rem);
	margin-left: -0.375rem;
}

#buttons01 li {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 0.75rem);
	margin: 0.375rem;
}

#buttons01 li a {
	display: block;
	width: auto;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 1.25rem;
	font-size: 1em;
	font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-weight: 400;
	border-radius: 0rem;
}

#buttons01 .n01 {
	background-color: #000000;
	color: #FFFFFF;
}

@media (max-width: 1920px) {
	#main > .inner {
		width: 100rem;
	}
}

@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}

	#main > .inner {
		width: 100rem;
	}
}

@media (max-width: 1024px) {
	#main > .inner {
		width: 100rem;
	}
}

@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 11pt;
	}

	#main > .inner {
		padding: 3rem 2rem;
	}

	#main > .inner > header {
		margin-bottom: 0.75rem;
	}

	#main > .inner > footer {
		margin-top: 0.75rem;
	}

	#main > .inner > * > * {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}

	#main > .inner > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
		max-width: calc(100% + 4rem + 0.4725px);
	}

	#main > .inner > .full:first-child {
		margin-top: -3rem !important;
	}

	#main > .inner > .full:last-child {
		margin-bottom: -3rem !important;
	}

	#main > .inner > .full.screen {
		margin-left: -50vw;
	}

	#main > .inner > * > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
		max-width: calc(100% + 4rem + 0.4725px);
	}

	#main > .inner > * > .full.screen {
		margin-left: -50vw;
	}

	#main > .inner > header > .full:first-child {
		margin-top: -3rem !important;
	}

	#main > .inner > footer > .full:last-child {
		margin-bottom: -3rem !important;
	}

	#container01 > .inner {
		padding: 0rem 0rem;
		max-width: 100%;
	}

	#container01 > .inner > * {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}

	#container01 > .inner > .full {
		margin-left: calc(-0rem);
		width: calc(100% + 0rem + 0.4725px);
		max-width: calc(100% + 0rem + 0.4725px);
	}

	#container01 > .inner > .full:first-child {
		margin-top: -0rem !important;
	}

	#container01 > .inner > .full:last-child {
		margin-bottom: -0rem !important;
	}

	#container03 > .inner {
		padding: 2rem 2rem;
		max-width: 100%;
	}

	#container03 > .inner > * {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}

	#container02 > .inner {
		padding: 2rem 0rem;
		max-width: 100%;
	}

	#container02 {
		min-height: 15rem;
	}

	#container02 > .inner > * {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}

	#container02 > .inner > .full {
		margin-left: calc(-0rem);
		width: calc(100% + 0rem + 0.4725px);
		max-width: calc(100% + 0rem + 0.4725px);
	}

	#container02 > .inner > .full:first-child {
		margin-top: -2rem !important;
	}

	#container02 > .inner > .full:last-child {
		margin-bottom: -2rem !important;
	}

	#image01 img {
		width: 6rem;
	}
}

@media (max-width: 480px) {
	#main > .inner > header {
		margin-bottom: 0.65625rem;
	}

	#main > .inner > footer {
		margin-top: 0.65625rem;
	}

	#main > .inner > * > * {
		margin-top: 0.65625rem;
		margin-bottom: 0.65625rem;
	}

	#container01 > .inner > * {
		margin-top: 0.65625rem;
		margin-bottom: 0.65625rem;
	}

	#container03 > .inner > * {
		margin-top: 0.65625rem;
		margin-bottom: 0.65625rem;
	}

	#container02 > .inner > * {
		margin-top: 0.65625rem;
		margin-bottom: 0.65625rem;
	}

	#buttons01 {
		margin-left: 0;
		width: 100%;
		padding: 0.375rem 0;
	}

	#buttons01 li {
		max-width: 100%;
		display: block;
		margin: 0.75rem 0;
	}

	#buttons01 li:first-child {
		margin-top: 0;
	}

	#buttons01 li:last-child {
		margin-bottom: 0;
	}

	#buttons01 li a {
		display: inline-block;
		width: 100%;
		max-width: 32rem;
	}
}

@media (max-width: 360px) {
	#main > .inner {
		padding: 2.25rem 1.5rem;
	}

	#main > .inner > header {
		margin-bottom: 0.5625rem;
	}

	#main > .inner > footer {
		margin-top: 0.5625rem;
	}

	#main > .inner > * > * {
		margin-top: 0.5625rem;
		margin-bottom: 0.5625rem;
	}

	#main > .inner > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
		max-width: calc(100% + 3rem + 0.4725px);
	}

	#main > .inner > .full:first-child {
		margin-top: -2.25rem !important;
	}

	#main > .inner > .full:last-child {
		margin-bottom: -2.25rem !important;
	}

	#main > .inner > .full.screen {
		margin-left: -50vw;
	}

	#main > .inner > * > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
		max-width: calc(100% + 3rem + 0.4725px);
	}

	#main > .inner > * > .full.screen {
		margin-left: -50vw;
	}

	#main > .inner > header > .full:first-child {
		margin-top: -2.25rem !important;
	}

	#main > .inner > footer > .full:last-child {
		margin-bottom: -2.25rem !important;
	}

	#container01 > .inner {
		padding: 0rem 0rem;
	}

	#container01 > .inner > * {
		margin-top: 0.5625rem;
		margin-bottom: 0.5625rem;
	}

	#container01 > .inner > .full {
		margin-left: calc(-0rem);
		width: calc(100% + 0rem + 0.4725px);
		max-width: calc(100% + 0rem + 0.4725px);
	}

	#container01 > .inner > .full:first-child {
		margin-top: -0rem !important;
	}

	#container01 > .inner > .full:last-child {
		margin-bottom: -0rem !important;
	}

	#container03 > .inner {
		padding: 1.5rem 1.5rem;
	}

	#container03 > .inner > * {
		margin-top: 0.5625rem;
		margin-bottom: 0.5625rem;
	}

	#container02 > .inner {
		padding: 1.5rem 0rem;
	}

	#container02 {
		min-height: 10rem;
	}

	#container02 > .inner > * {
		margin-top: 0.5625rem;
		margin-bottom: 0.5625rem;
	}

	#container02 > .inner > .full {
		margin-left: calc(-0rem);
		width: calc(100% + 0rem + 0.4725px);
		max-width: calc(100% + 0rem + 0.4725px);
	}

	#container02 > .inner > .full:first-child {
		margin-top: -1.5rem !important;
	}

	#container02 > .inner > .full:last-child {
		margin-bottom: -1.5rem !important;
	}

	#buttons01 {
		width: calc(100% + 0.5625rem);
		margin-left: -0.28125rem;
		width: 100%;
		margin-left: 0;
		padding: 0.28125rem 0;
	}

	#buttons01 li {
		max-width: calc(100% - 0.5625rem);
		margin: 0.28125rem;
		max-width: 100%;
		margin: 0.5625rem 0;
	}
}
